// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary : #244855;
$secondary : cyan;
$dark : #244855;
$light : #343a40;
$background : #FDF6EC;
$font-family-sans-serif :"Roboto", sans-serif !default;
$font-family-serif :"Roboto", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

