@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;         /* Ensure the body takes full height */
    overflow-x: hidden;   /* Prevent horizontal scrolling */
    overflow-y: auto;     /* Allow vertical scrolling */
    background-color: $background;
}
//footer//

footer.footer{
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-icon {
    font-size: 30px; /* bigger icons */
    margin: 0 20px;  /* more spacing */
    color: white;
    transition: color 0.3s;
}

.social-icon:hover {
    color: cyan;
}

// homepage - hero //

.hero{
    background-color: $background;
    padding: 40px;
}

.btn{
    color: ghostwhite;
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

//home page - article//

.card-group, .card, .card-body{
    background-color: $background;
    border: none;
    padding: 15px;
}

.card-body p {
    font-size: 0.9rem; /* Make the text a little smaller */
  }

.card-body .btn:hover{ /*Lire plus button*/
    transform: scale(1.1); /* Increase the size of the text slightly */
    transition: transform 0.3s ease; /* Smooth transition */
}

.card-img-top {
    width: 100%; /* Ensure it fills the card container */
    height: 200px; /* Set a fixed height for a square image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

//Contact page//
.form-contact{
    background-color: $background;
}